
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.cardd{
    width: 100%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    min-height: fit-content;
    margin-top: 5px;
    border-radius: 15px;   
}

.btn-link {
  display: inline-block;
  padding: 10px 18px;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.2s ease;
}

.btn-link:hover {
  background-color: #1d4ed8;
}

.desc h2{
    font-size: 28px;
    padding: 4px;
    color: rgb(123, 52, 52);
}
.desc{
    position: relative;
    z-index: 2;
    
    margin-top: 10px;

}
.cad{
    margin-top: 5px;
    background-size: cover;
    display: block;
    gap: 10px;
}
.hhh{
    font-size: 20px;
    margin: 3px;
    font-weight: 600;
}
.ppp{
    font-size: 17px;
    margin: 5px;
    line-height: 1.6;
  }
@media screen and (max-width: 780px){
    
.cardd{
    width: 100%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    min-height: fit-content;
    margin-top: 5px;
    border-radius: 15px;   
}

.btn-link {
  display: inline-block;
  padding: 10px 18px;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 350;
  transition: background 0.2s ease;
}

.btn-link:hover {
  background-color: #1d4ed8;
}

.desc h2{
    font-size: 30px;
    padding: 4px;
    color: rgb(123, 52, 52);
}
.desc{
    position: relative;
    z-index: 2;
   
    margin-top: 1.5rem;

}
.cad{
    margin-top: 5px;
     
     filter: 60%;
    display: block;
    gap: 7px;
}
.para{
    padding: 7px 6px;
    
    font-size: 19px;
    color: black;
    line-height: 1.6;
}
.hhh{
    font-size: 20px;
    margin: 3px;
    font-weight: 600;
}
.ppp{
    font-size: 19px;
    margin: 4px;
    line-height: 1.6;
  }

    
}
@media screen and(max-width: 360px){
    
.cardd{
    width: 100%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    min-height: fit-content;
    margin-top: 5px;
    border-radius: 15px;   
}

.btn-link {
  display: inline-block;
  padding: 10px 18px;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.2s ease;
}

.btn-link:hover {
  background-color: #1d4ed8;
}

.desc h2{
    font-size: 25px;
    padding: 4px;
    color: rgb(123, 52, 52);
}
.desc{
    position: relative;   
    margin-top: 8px;
}
.cad{
    margin-top: 3px;
    filter: 60%;
    display: block;
    gap: 7px;
}
.para{
    
    font-size: 20px;
    color: black;
    line-height: 1;
}
.hhh{
    font-size: 25px;
    margin: 3px;
    font-weight: 600;
}
.ppp{
    font-size: 13px;
    margin: 5px;
    line-height: 1.1;
  }

}
.para {
  color: black;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background: rgba(22, 21, 21, 0.04);
  border-left: 4px solid #38bdf8;
  border-radius: 10px;
  background-position: center;
}