.ngemi{
    display: block;
    padding: 7px 5px;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    background-color: rgb(180, 180, 151);
    justify-content: center;
    height: fit-content;
    
}

.ngemi h5{
    margin-bottom: 4px;
}
.ngemi ul{
    
    text-decoration: none;
    padding-left: 1rem;
}

.ngemi ul li{
    list-style: none;
    margin-top: 3px;
}