.input {
    width: 80%;
    border-radius: 4px;
    padding: 3px 19px;
    background: rgb(221, 199, 199);
}
.sach{
          padding: 8px;
          width: 100%;
          margin-bottom: 12px;
}
.accordion{
    background-color:rgb(240, 237, 234);
  max-width: 700px;
  margin: 10px auto;
  border-radius: 8px;  
  position: relative;
  z-index: 1;
  transition: box-shadow 0.3s ease;
  overflow: visible;
  border: 1px solid #ddd;
    
}
.accordion.active {  
  position: fixed;  /* FIXED POSITIONING */
  top: 10%;
  background-color: white;
  z-index: 999;
  box-shadow: 0 12px 30px rgba(0,0,80,0.25);
  width: fit-content;
  height: fit-content;
  opacity: 1;
}
.accordion:not(.active) {
  opacity: 2;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
    align-items: center;
     justify-content: space-between;
    display: flex;
}
.accordion-header {
    font-size: 22px;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}
.right{
    border: none;
   margin-left: auto;
}
.accordion-content{
    justify-content: center;
    font-size: 20px;
    background: rgb(170, 167, 167);
    color: black;
}
.favs{
    background-color:rgb(240, 237, 234);
  max-width: 700px;
  margin: 10px ;
  display: block;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding-top: 5px;
  border: 1px solid #ddd;
    padding-left: 2px;
}
.favs p{
   justify-content: center;
    display: flex;
    padding-left: 4rem;
    color: black;
}
.input a{
  text-decoration: none;
  margin-right: 2px;
}

@media (max-width: 780px) {
  .input {
    width: 90%;
    border-radius: 4px;
    padding: 3px 19px;
    margin: 0 10px;
    background: rgb(221, 199, 199);
}
.accordion{
    background-color:rgb(240, 237, 234);
  max-width: 700px;
  margin: 10px auto;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
    padding-left: 2px;
}
.accordion-item {
  border-bottom: 1px solid #ddd;
    align-items: center;
     justify-content: space-between;     
}
.accordion-header {
    font-size: 17px;
  padding: 5px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}
.right{
    border: none;
   margin-left: auto;
}
.accordion-content{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
}
.favs{
    background-color:rgb(240, 237, 234);
  max-width: 700px;
  margin: 10px ;
  display: block;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
    padding-left: 2px;
}
.favs p{
   justify-content: center;
    display: flex;
    padding-left: 4rem;
    font-size: 20px;
    color: black;

}
.fav {
  padding: 7px 6px;
}
}


@media (max-width: 360px) {
  .input {
    width: 90%;
    border-radius: 4px;
    padding: 3px 19px;
    margin: 0 10px;
    background: rgb(221, 199, 199);
}
.accordion{
    background-color:rgb(240, 237, 234);
  max-width: 700px;
  margin: 10px auto;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
    padding-left: 2px;
}
.accordion-item {
  border-bottom: 1px solid #ddd;
    align-items: center;
     justify-content: space-between;     
}
.accordion-header {
    font-size: 17px;
  padding: 5px;
  
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}
.right{
    border: none;
   margin-left: auto;
}
.accordion-content{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
}
.favs{
    background-color:rgb(104, 102, 101);
  max-width: 700px;
  margin: 10px ;
  display: block;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
    padding-left: 2px 3px;
}
.favs p{
   justify-content: center;
    display: flex;
    padding-left: 4rem;
    font-size: 20px;
    color: black;

}
.fav {
  padding: 7px 6px;
}
}